.dashboard-middle {
    left: 8%;
    position: absolute;
}
.dashboard-middle .dashboard-title {
    margin-top: 15px;
    font-weight: 700;
    font-size: 14px;
    color: #8A8A8A;
}
.dashboard-middle .dashboard-option {
    font-weight: 700;
    font-size: 14px;
    background: #CFD4ED;
    width: 130px;
    padding: 5px 0;
}

/* End Of Dashboard Middle */

.dashboard-main .dashboard-main-judul{
    display: flex;
    left: 20%;
    /* position: relative; */
    position: absolute;
    margin-top: 13px;
}
.dashboard-main-judul .main-judul-sign {
    height: 8px;
    width: 4px;
    margin: 6px 5px 0 5px;
}
.dashboard-main-judul .judul-kiri{
    font-size: 12px;
    font-weight: 700;
}
.dashboard-main-judul .judul-kanan {
    font-size: 12px;
    font-weight: 300;
}

/* End Of Dashboard Main */

.add-list-cars {
    display: flex;
    justify-content: space-between;
    left: 20%;
    /* position: relative; */
    /* position: absolute; */
    margin-top: 40px;
}
.add-list-cars .list-car-judul {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    left: 20%;
    position: relative;
}
.add-list-cars .tomboh-add {
    width: 142px;
    height: 36px;
    background: #0D28A6;
    border-radius: 2px;
    border: 0;
    font-family: Arial;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-right: 10px;
}
.add-list-cars .tomboh-add .remove {
    text-decoration: none;
    color: #fff;
}
.option-button {
    left: 20%;
    position: absolute;
}
.option-button .option-button-1 {
    width: 42px;
    height: 36px;
    margin-right: 5px;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
}
.option-button .option-button-2 {
    width: 102px;
    height: 36px;
    margin-right: 5px;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 700;
}

.card-list-cars {
    position: relative;
    left: 20%;
    width: 351px;
    height: 482px;
    margin-top: 50px;
}
.card-list-cars .card-image {
    padding: 30px 10px 10px 10px;
    margin: auto;
}
.card-list-cars .card-details {
    padding: 20px 20px 0 20px;
}
.card-details .nama-mobil {
    font-weight: 400;
    font-size: 14px;
}
.card-details .harga-sewa {
    font-weight: 700;
    font-size: 16px;
}
.card-details .kategori {
    display: flex;
}
.kategori .kategori-image{
    width: 20px;
    height: 20px;
    margin-right: 7px;
}
.card-details .kategori-mobil {
    font-weight: 400;
    font-size: 12px;
}
.card-details .update-mobil {
    font-weight: 400;
    font-size: 14px;
}

.card-button {
    display: flex;
    margin: auto;
    padding-bottom: 10px;
}
.card-button .button-delete {
    width: 143.5px;
    height: 48px;
    border: 1px solid #FA2C5A;
    border-radius: 2px;
    text-align: center;
    margin: 10px;
    line-height: 45px;
}
.card-button .button-delete .button-delete-1 {
    background: transparent;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}
.card-button .button-edit {
    width: 143.5px;
    height: 48px;
    border: 0 solid #FA2C5A;
    border-radius: 2px;
    text-align: center;
    margin: 10px;
    line-height: 45px;
    background:  #5CB85F;
    
}
.button-edit .button-edit-1 {
    background: transparent;
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}